
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 1.7rem;
  color: darkgreen;
}
  
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.linkItem {
  padding: 1rem;
  flex-grow: 2;
  flex-basis: calc(33.333% - 1.5rem);
}

.img {
    border-radius: 8px;
    object-fit: cover;
    width: 100%; 
    height: auto;
  }
  
  
.portfoliotitle {
    font-size: 1.3rem;
}
  
.portfolioexplanation {
    font-size: 1rem;
}
  
.portfolioButton {
    text-decoration:none;
    color: darkgreen;
    background-color: #8fbc8f;
    font-weight:bold;
    display:block;
    max-width:180px;
    margin:0 auto;
    margin-top: 0.4rem;
    border:solid 4px darkgreen;
    line-height:60px;
    text-align:center;
    transition:0.5s;
    position:relative;
    border-radius: var(--border-radius);
}
  
.portfolioButton:before{
    content:"";
    display:block;
    width:10px;
    height:10px;
    border-right:solid 3px darkgreen;
    border-bottom:solid 3px darkgreen;
    position:absolute;
    transform:rotate(-45deg);
    transition:0.5s;
    right:25px;
    top:50%;
    margin-top:-7px;
}
  
.portfolioButton:hover{
    color: forestgreen;
    background-color: #8fbc8f;
}
.portfolioButton:hover:before{
    border-color: forestgreen;
    right:20px;
}
  
  @media (max-width: 767px) {
    .container {
      display: flex;
      flex-direction: column; 
    }
  }