.button {
    text-decoration:none;
    color: darkgreen;
    background-color: #8fbc8f;
    font-weight:bold;
    display:block;
    max-width:240px;
    margin:0 auto;
    margin-top: 0.4rem;
    border:solid 4px darkgreen;
    line-height:60px;
    text-align:center;
    transition:0.5s;
    position:relative;
    border-radius: var(--border-radius);
}

.button:before{
    content:"";
    display:block;
    width:10px;
    height:10px;
    border-right:solid 3px darkgreen;
    border-bottom:solid 3px darkgreen;
    position:absolute;
    transform:rotate(-45deg);
    transition:0.5s;
    right:25px;
    top:50%;
    margin-top:-7px;
}

.button:hover{
    color: forestgreen;
    background-color: #8fbc8f;
}
.button:hover:before{
    border-color: forestgreen;
    right:15px;
}

@media (max-width: 640px) {
    .button {
        max-width: 180px;
        line-height: 50px;
    }
}
