

@keyframes filling {
  from{
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}

.containerText {
  background-image:  url(https://www.sozailab.jp/db_img/sozai/63072/366f45d7fd6d3660ed828c6400cd3e24.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color:  #FFFFFF;
  padding-top: 20px;
  font-size: 5rem;
  font-family: ui-monospace ;
  animation: filling 5s ease forwards;
  
}

@media (min-width: 768px) {
  .containerText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
}

@media  (max-width: 767px) {
  .containerText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  }
}
  

